<app-navbar></app-navbar>

<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


<div class="container">
    <div class="jumbotron " style="text-align: center">
        <h2>Create The new Course from Here</h2>
        <button class="btn btn-success" [routerLink]="['/addcourse']">
            Create New Course
        </button>
    </div>
    <div class="row col-md-offset-2">
        <div id="custom-search-input">
            <div class="input-group col-md-8" style="text-align: center">
                <input type="text" class="search-query form-control" placeholder="Search With Course Skill"
                    name="creator" [(ngModel)]="creator" />
                <span class="input-group-btn">
                    <button class="btn btn-info" type="button" (click)="searchCoursebyCreator()">
                        <span class=" glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>

        </div>
    </div>
    <br>
    <div class="container">

        <div class="row col-md-10 col-md-offset-1 custyle">
            <h2>List Of All Courses </h2>
            <table class="table table-bordered table-striped custab">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Creator</th>
                        <th>Description</th>
                        <th>Skill</th>
                        <th>Prerequisite</th>
                        <th>Update</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let course of courselist">
                        <td>{{course.id}}</td>
                        <td>{{course.creator}}</td>
                        <td>{{course.description}}</td>
                        <td>{{course.skill}}</td>
                        <td>{{course.prerequisite}}</td>
                        <td class="text-center"><button class="btn btn-info btn-xs"
                            (click)="updateCourse(course.id)"><span class="	glyphicon glyphicon-pencil"></span>
                            Update</button></td>
                        <td class="text-center"><button class="btn btn-danger btn-xs"
                                (click)="deleteCourse(course.id)"><span class="glyphicon glyphicon-remove"></span>
                                Delete</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>