<br>
<div class="container" align="center" class="col-md-6 col-md-offset-3" style="background-color: #FFFFFF;
position: absolute;
left: 35%;
    width: 400px;
    height: 500px;
    margin: 7em auto;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
">
  <p class="sign">Sign in</p>
  <form class="form1" #loginform='ngForm' (ngSubmit)="loginUser()">
    <small class="text-danger">{{msg}}</small>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" placeholder="Enter email" name="email" [(ngModel)]='user.emailId'
        #email="ngModel" pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
        [class.is-invalid]="email.invalid && email.touched" required>
      <div *ngIf="email.errors && (email.invalid && email.touched)">
        <small class="text-danger" *ngIf="email.errors.required">Email is Required field</small>
        <small class="text-danger" *ngIf="email.errors.pattern">Enter Valide Email</small>
      </div>
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" placeholder="Enter password" name="password"
        [(ngModel)]='user.password' #password="ngModel" required
        [class.is-invalid]="password.invalid && password.touched">

      <div *ngIf="password.errors && (password.invalid && password.touched)">
        <small class="text-danger" *ngIf="password.errors.required">Password is required</small>
      </div>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" name="remember"> Remember me</label>
    </div>
    <button [disabled]="loginform.form.invalid" type="submit" class="btn btn-info " class="submit">Login</button>
    <br><br>
    <button class="btn btn-danger" (click)="signInWithGoogle()">Sign in with Google</button>
    <br>
    <span style="text-align:center" (click)="gotoregistration()">Not a member?<i
        class="btn btn-link">Register</i></span>
  </form>
</div>