.mycard{
    margin: 15px;
    margin-right: 50px;
    border-radius: 10px;
    padding: 10px 10px 20px 10px;
    border: 1px solid #BFBFBF;
    background-color: white;
    box-shadow: 10px 10px 5px #aaaaaa;
}
table {
    table-layout: fixed;
    word-break: break-all;
  }